[run]
source = src
omit = src/**/__init__.py
       src/tests/**
       src/utils/**
       src/app.py
       src/index.py
       src/console_io.py
       src/AppLibrary.py
       src/stub_io.py

[report]
source = src
omit = src/**/__init__.py
       src/tests/**
       src/utils/**
       src/app.py
       src/index.py
       src/console_io.py
       src/AppLibrary.py
       src/stub_io.py
